body {
    background: url(texture.png) #F0F0F0;
    color: #434343;
    vertical-align: baseline;
    font-family: 'PT Serif', Georgia, Times, 'Times New Roman', serif;
}

label {
	text-align: right;
	display: inline-block;
	font-size: 14px;
	margin-right: 15px;
	vertical-align: middle;
}

div {
    word-wrap: break-word;
}

input {
	vertical-align: middle;
	text-align: center;
}

hr {
	margin-left: 5px;
	margin-right: 10px;
}

.title {
	font-size:larger;
	font-weight:bolder;
	color:green;
}

.content {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.rules {
    margin: 20px auto 5px auto;
    padding: 0;
    border-width: 12px 20px 20px 12px;
    -webkit-border-image: url(vignette.png) 12 20 20 12 stretch stretch;
}

.head {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.buttons {
	margin-left: 10px;
    margin-right: 10px;
}

.button {
    float: right;
    margin-top: 0px;
}

.rule_table {
    text-align: center;
    table-layout: fixed;
}

.no_rules {
    text-align: center;
}

.float {
    position: absolute;
    width: 300px;
    vertical-align: middle;
    z-index: 9999;
    background: url(texture.png) #EDEDED;
    height: 160px;
    visibility: hidden;
    border: 1px solid #B8B7B8;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #A1A1A1;
}

.empty_div {
    width: 300px;
    opacity: 0;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    height: 8px;
}

.float_top {
    width: 100%;
    height: 23px;
    margin-left: auto;
    margin-right: auto;
    line-height: 23px;
    font-weight: bold;
    font-size: small;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#E9E9E9), to(#B8B7B8));
}

.add_rules {
    opacity: 1.0;
    width: 284px;
    height: 121px;
    margin-left: auto;
    margin-right: auto;
    background: url(texture.png) #EDEDED;
}

.img_left {
    float: right;
}

.input_text {
	padding-top: 30px;
}

.text {
    border: 1px solid #C9C9C9;
	border-radius: 5px;
	width: 200px;
	padding: 5px;
	height: 23px;
	font-size: 14px;
}

.float_btn {
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#FFFFFF), to(#E5E5E5));	
	border: 1px solid #C9C9C9;
	border-radius: 3px;
	font-size: 14px;
	vertical-align: middle;
	cursor: pointer;
}

.float_btn:active {
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#BEBEBE), to(#E1E1E1));	
	border: 1px solid #EDEDED;
	border-radius: 3px;
	font-size: 14px;
	vertical-align: middle;
	cursor: pointer;
}

.select {
	margin-left: -5px;
	height: 23px;
}

.btn_with_select {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	margin-right: 0px;
	padding-right: 0px;
}

.close_btn {
	display: inline;
	float: right;
	padding-right: 5px;
	font-weight: 800;
	font-size: 20px;
	color: #999;
	font-family: 'Helvetica Neue';
	margin-top: -3px;
	cursor:pointer
}

.float_title {
	margin-top: 0px;
	display: inline;
	padding-left: 65px;
}