.content {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.rules {
    margin: 20px auto 5px auto;
    padding: 0;
    border-width: 12px 20px 20px 12px;
    -webkit-border-image: url(vignette.png) 12 20 20 12 stretch stretch;
}

.head {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.buttons {
    background-color: black;
}

.button {
    float: right;
}

.rule_table {
    text-align: center;
    table-layout: fixed;
}

.no_rules {
    text-align: center;
}

.float {
    position: absolute;
    width: 300px;
    vertical-align: middle;
    z-index: 9999;
    background: url(texture.png) #EDEDED;
    height: 160px;
    visibility: hidden;
    border: 1px solid #B8B7B8;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #A1A1A1;
}

.empty_div {
    width: 300px;
    opacity: 0;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    height: 8px;
}

.float_top {
    width: 100%;
    height: 23px;
    margin-left: auto;
    margin-right: auto;
    line-height: 23px;
    font-weight: bold;
    font-size: small;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#E9E9E9), to(#B8B7B8));
}

.add_rules {
    opacity: 1.0;
    width: 284px;
    height: 121px;
    margin-left: auto;
    margin-right: auto;
    background: url(texture.png) #EDEDED;
}

.img_left {
    float: right;
}

.input_text {
	margin-top: 10px;
}

.text {
    border: 1px solid #C9C9C9;
	border-radius: 3px;
	width: 200px;
	padding: 5px;
	height: 20px;
	font-size: 14px;
}

body {
    background: url(texture.png) #F0F0F0;
    color: #434343;
    vertical-align: baseline;
    font-family: 'PT Serif', Georgia, Times, 'Times New Roman', serif;
}

label {
	text-align: right;
	display: inline-block;
	font-size: 14px;
	margin-right: 15px;
	vertical-align: middle;
}

div {
    word-wrap: break-word;
}

input {
	margin-right: 3px;
	vertical-align: middle;
}

